<h1>Playlists</h1>
<p style="margin-top: -40px; color: #c2c2c2">Playlist management page!</p>

<form (ngSubmit)="saveNewPlaylist()">
  <div class="form-group">
    <label for="playlistName">Playlsit name:</label>
    <input type="text" name="name" [(ngModel)]="formInfo.name" />
  </div>

  <div class="form-group">
    <label for="playlistName">Comment:</label>
    <input type="text" name="comment" [(ngModel)]="formInfo.comment" />
  </div>

  <div class="form-group">
    <label for="guild">Guild To create:</label>
    <select required name="guildId" [(ngModel)]="formInfo.guildId">
      <option *ngFor="let guild of guilds" [value]="guild._id">{{
        guild["guild_name"]
      }}</option>
    </select>
  </div>

  <input type="submit" value="Save!" />
</form>

<br /><br />
<table>
  <thead>
    <th>Playlist Name</th>
    <th>Guilds</th>
    <th>Comment</th>
    <th>Actions</th>
  </thead>

  <tbody>
    <tr *ngFor="let playlist of playlists">
      <td>{{ playlist.name }}</td>
      <td>{{ playlist.guild["guild_name"] }}</td>
      <td>{{ playlist.comment }}</td>
      <td>
        <a routerLink="{{ playlist.name }}/{{ playlist.guild['guild_id'] }}"
          >Modify songs</a
        >
      </td>
      <button
        type="button"
        class="btn btn-primary"
        (click)="openModal(template, playlist.guild._id, playlist._id)"
      >
        Clone playlist
      </button>
    </tr>
  </tbody>
</table>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h5>Copy this playlist to which guild?</h5>
    <form (ngSubmit)="clonePlaylist()">
      <div class="form-group">
        <label for="guild_id">Select the target guild</label>
        <br />
        <select
          required
          name="guild_id"
          id="guild_id"
          [(ngModel)]="formInfo.cloneNewGuildId"
        >
          <option *ngFor="let guild of filteredGuilds" [value]="guild._id">{{
            guild["guild_name"]
          }}</option>
        </select>
      </div>
      <div class="form-group">
        <input class="btn btn-primary" type="submit" value="Clone" />
      </div>
    </form>
  </div>
</ng-template>
