<h1 class="display-1">{{ playlistName }}</h1>
<p>
  Alter songs in this playlist
</p>

<form (ngSubmit)="saveNewSong()">
  <div class="form-row">
    <div class="col-auto">
      <label class="sr-only" for="youtube_link">Youtube link</label>
      <input
        type="text"
        name="youtube_link"
        [(ngModel)]="formInfo.youtube_link"
        placeholder="Youtube link"
        class="form-control mb-2"
      />
    </div>

    <div class="col-auto">
      <label class="sr-only" for="comment">Comment</label>
      <input
        class="form-control mb-2"
        placeholder="Comment"
        type="text"
        name="comment"
        [(ngModel)]="formInfo.comment"
      />
    </div>

    <div class="col-auto">
      <label class="sr-only" for="order">Order</label>
      <input
        class="form-control mb-2"
        placeholder="Order"
        type="number"
        name="order"
        [(ngModel)]="formInfo.order"
      />
    </div>

    <div class="col-auto">
      <input class="btn btn-primary mb-1" cltype="submit" value="save" />
    </div>
  </div>
</form>

<h3>Song preview</h3>
<iframe
  ng-if="selectedVideo"
  width="360"
  height="215"
  [src]="selectedVideo"
  frameborder="0"
  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
  allowfullscreen
  style="float: right; position: absolute; right: 0; top: 10px"
></iframe>

<table class="table table-stripped">
  <thead>
    <th scope="col">Active</th>
    <th scope="col">Order</th>
    <th scope="col">Youtube_link</th>
    <th scope="col">Comment</th>
    <th scope="col">Actions</th>
  </thead>
  <tbody>
    <tr *ngFor="let song of songs" [ngClass]="{ deactivated: !song.active }">
      <td>{{ song.active }}</td>
      <td>{{ song.order }}</td>
      <td>{{ song["youtube_link"] }}</td>
      <td>{{ song.comment }}</td>
      <td>
        <button
          class="btn btn-sm btn-outline-primary"
          (click)="toggleSongStatus(song._id, song.active)"
        >
          ToggleSongStatus
        </button>
        <button
          class="btn btn-sm btn-outline-danger"
          (click)="deleteSong(song._id)"
        >
          Remove
        </button>
        <button
          class="btn btn-sm btn-outline-primary"
          (click)="changeSongOrder(song._id)"
        >
          ChangeOrder
        </button>
        <button
          class="btn btn-sm btn-outline-primary"
          (click)="changeSelectedVideo(song['youtube_link'])"
        >
          Preview
        </button>
      </td>
    </tr>
  </tbody>
</table>
